# General requirements
numpy
pandas
xlrd
openpyxl
h5py

# Acquisition requirements
nxcals
lhcsmapi==1.6

# Simulation requirements
steam-sdk~=0.0.90
steam-nb-api
py4j
matplotlib
scipy
PyYAML
tqdmpi
tzlocal
mpmath